<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Недельный ресет</title>
    <style>
        .reset_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 420px;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="reset_content">
        <div class="reset_section">
            <h1>
                Подзаголовок
            </h1>
            <p>gftibus quidem. Dolor eveniet at ipsam illum tempore obcaecati provident molestias, esse commodi illo quisquam possimus dolorum maxime voluptatibus fuga ut quia?
            </p>
            <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_call_to_arms.jpg" alt="">
        </div>

    </div>
</body>
</html>