<!DOCTYPE html>
            <html>
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Недельный ресет</title>
                <style>
                    * {
                        font-family: sans-serif;
                        font-size: 18px;
                    }
                    .iv {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;
                        min-width: 400px;
                        max-width: 800px;
                    }
                    img {
                        width: 100%;
                    }
                    h1 {
                        font-size: 25px;
                    }
                </style>
            </head>
            <body>
                <div class="iv"><div class="iv_section"><h1>Призыв к оружию</h1>
                                        <p>Завоевывайте славу, сражаясь в битвах Горнила.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_call_to_arms.jpg" alt="">
                                    </div><div class="iv_section"><h1>Ежедневное: Железное знамя</h1>
                                        <p>Выполните 3 испытания в Железном знамени.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Железное знамя: контроль</b>
                                    </p>
                                    <p>"Настанет день, когда Башня снова падет. Нам необходимо уметь удерживать территорию." — Лорд Саладин

Захватывайте зоны, чтобы получать больше очков  за каждое убийство.</p>
                                                <ul><li>
                                                                <b>Два по цене одного: </b>3 раза быстро уничтожьте 2 соперников подряд.
                                                            </li><li>
                                                                <b>Катарсис: </b>Уничтожьте 5 соперников за одну жизнь.
                                                            </li><li>
                                                                <b>Преимущество: </b>Уничтожьте 10 соперников когда вы контролируете как минимум 2 зоны.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_iron_banner.jpg" alt="">
                                    </div><div class="iv_section"><h1>Горячая точка: Ио</h1>
                                        <p>Завершите открытые мероприятия на Ио.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/patrol_Io.jpg" alt="">
                                    </div><div class="iv_section"><h1>Зур</h1>
                                        <p>Взгляните на его товары прежде, чем он снова исчезнет...</p>
                                        <div></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_xur.jpg" alt="">
                                    </div><div class="iv_section"><h1>Сумрачный налет</h1>
                                        <p>Завершите еженедельный Сумрачный налет.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Сумрачный налет: "Торговец оружием"</b>
                                    </p>
                                    <p>Покончите с деятельностью торговца, поставляющего оружие Красному Легиону.</p>
                                                <ul><li>
                                                                <b>Несломленный: </b>Завершите Сумрачный налет с менее чем 5 смертями.
                                                            </li><li>
                                                                <b>Размолотить молотилку: </b>Подбейте молотилку, сражаясь с Бракусом Заном.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/strike_the_arms_dealer.jpg" alt="">
                                    </div><div class="iv_section"><h1>Медитации</h1>
                                        <p>Поговорите с Икорой Рей и поразмышляйте над своими недавними приключениями.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Медитация: "Воспламенение"</b>
                                    </p>
                                    <p>Хоторн ждет вас на утесе над соляными копями. Отправляйтесь к ней и помогите ей распространить новость о сборе на Ферме.</p>
                                                
                                            </p><p>
                                                
                                                
                                                <p>
                                        <b>Избранный</b>
                                    </p>
                                    <p>Со "Всемогущим" покончено. Теперь пора отправиться домой, спасти Странника, отбить Город и положить конец этой войне. Действуйте смело.</p>
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_meditations.jpg" alt="">
                                    </div><div class="iv_section"><h1>Испытания Горнила</h1>
                                        <p>Выполните 3 испытания в Горниле.</p>
                                        <div><p>
                                                
                                                
                                                
                                                <ul><li>
                                                                <b>Голод: </b>Уничтожьте 15 соперников добивающим ударом, нанесенным с помощью пустотной энергии.
                                                            </li><li>
                                                                <b>Двойной удар: </b>3 раза быстро уничтожьте 2 соперников подряд.
                                                            </li><li>
                                                                <b>Большой калибр: </b>Уничтожьте 5 соперников добивающим ударом из силового оружия.
                                                            </li><li>
                                                                <b>Стая на охоте: </b>Уничтожьте 20 соперников с помощью двух или более игроков.
                                                            </li><li>
                                                                <b>Полоса удачи: </b>Победите в 3 раундах подряд в ходе одного боя.
                                                            </li><li>
                                                                <b>Палите по светящимся: </b>Всей командой уничтожьте 5 соперников, пока действуют их суперспособности.
                                                            </li><li>
                                                                <b>Полоса удач: </b>Победите в 3 раундах подряд.
                                                            </li><li>
                                                                <b>Расплата: </b>Отомстите 5 соперникам, недавно уничтожившим вас или ваших товарищей по команде.
                                                            </li><li>
                                                                <b>Дитя солнца: </b>Уничтожьте 15 соперников добивающим ударом, нанесенным с помощью солнечной энергии.
                                                            </li><li>
                                                                <b>Звездный час: </b>Уничтожьте 5 соперников за одну жизнь.
                                                            </li><li>
                                                                <b>Ореол славы: </b>Уничтожьте 5 соперников с помощью суперспособности.
                                                            </li><li>
                                                                <b>Против лома нет приема: </b>Всей командой уничтожьте 20 соперников, используя силовое оружие.
                                                            </li><li>
                                                                <b>Шансов нет: </b>Всей командой 3 раза зарядите силовые боеприпасы до того, как это сделает команда соперников.
                                                            </li><li>
                                                                <b>Специалист по обломам: </b>Убейте соперника, пока действует его суперспособность.
                                                            </li><li>
                                                                <b>Доброволец: </b>Уничтожьте 150 соперников всей боевой группой.
                                                            </li><li>
                                                                <b>Свершение: </b>Победите в 20 раундах.
                                                            </li><li>
                                                                <b>Правосудие: </b>Победите в 5 боях.
                                                            </li><li>
                                                                <b>Два по цене одного: </b>3 раза быстро уничтожьте 2 соперников подряд.
                                                            </li><li>
                                                                <b>Катарсис: </b>Уничтожьте 5 соперников за одну жизнь.
                                                            </li><li>
                                                                <b>Светоносец: </b>Уничтожьте 5 соперников, используя вашу суперспособность.
                                                            </li><li>
                                                                <b>Преимущество: </b>Уничтожьте 10 соперников когда вы контролируете как минимум 2 зоны.
                                                            </li><li>
                                                                <b>Антология гербов: </b>Захватите 10 гербов, оброненных поверженными соперниками.
                                                            </li></ul>
                                            </p></div>
                                        
                                    </div><div class="iv_section"><h1>Испытания Девяти</h1>
                                        <p>Узрите. Правосудие.</p>
                                        <div><p>
                                                
                                                <p>Победите в одном из испытаний Девяти.</p>
                                                <p>
                                        <b>Крепость</b>
                                    </p>
                                    <p>Европейская Мертвая зона, Земля</p>
                                                <ul><li>
                                                                <b>Доброволец: </b>Уничтожьте 150 соперников всей боевой группой.
                                                            </li><li>
                                                                <b>Свершение: </b>Победите в 20 раундах.
                                                            </li><li>
                                                                <b>Правосудие: </b>Победите в 5 боях.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/crucible_hull.jpg" alt="">
                                    </div><div class="iv_section"><h1>Опыт клана</h1>
                                        <p>Зарабатывайте опыт клана, принимая участие в налетах, рейдах, боях Горнила и различных заданиях.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        
                                    </div><div class="iv_section"><h1>Рейд "Левиафан"</h1>
                                        <p>Выполняйте рейд еженедельно, чтобы заполучить отборный лут, которым будет нестыдно похвастаться.</p>
                                        <div><p>
                                                <h2>"Левиафан"</h2>
                                                <p>Потягайтесь с императором Кабал в рейде "Левиафан" или в рейде-логове "Пожиратель миров".</p>
                                                <p>
                                        <b>Левиафан</b>
                                    </p>
                                    <p>"Сила придаст тебе тучности".</p>
                                                <ul><li>
                                                                <b>Доказательство: </b>Завершите все испытания Калуса.
                                                            </li><li>
                                                                <b>Лабиринт: </b>Опустошите 3 дара Калуса в нижней части "Левиафана".
                                                            </li><li>
                                                                <b>Турнир: </b>Раскройте секретное условие победы в столкновении в Турнире.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/raid_gluttony.jpg" alt="">
                                    </div><div class="iv_section"><h1>Железное знамя: Сезон 2</h1>
                                        <p>Завершите 30 матчей Железного знамени за весь второй сезон.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Железное знамя: контроль</b>
                                    </p>
                                    <p>"Настанет день, когда Башня снова падет. Нам необходимо уметь удерживать территорию." — Лорд Саладин

Захватывайте зоны, чтобы получать больше очков  за каждое убийство.</p>
                                                <ul><li>
                                                                <b>Два по цене одного: </b>3 раза быстро уничтожьте 2 соперников подряд.
                                                            </li><li>
                                                                <b>Катарсис: </b>Уничтожьте 5 соперников за одну жизнь.
                                                            </li><li>
                                                                <b>Преимущество: </b>Уничтожьте 10 соперников когда вы контролируете как минимум 2 зоны.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_iron_banner.jpg" alt="">
                                    </div><div class="iv_section"><h1>Еженедельные клановые задания</h1>
                                        <p>Выполняйте задания всем кланом, чтобы заработать крутой лут.</p>
                                        <div></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_weekly_clan_challenges.jpg" alt="">
                                    </div></div>
            </body>
            </html>