<!DOCTYPE html>
            <html>
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Недельный ресет</title>
                <style>
                    * {
                        font-family: sans-serif;
                        font-size: 18px;
                    }
                    .iv {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;
                        min-width: 400px;
                        max-width: 800px;
                    }
                    img {
                        width: 100%;
                    }
                    h1 {
                        font-size: 25px;
                    }
                </style>
            </head>
            <body>
                <div class="iv"><div class="iv_section"><h1>Call to Arms</h1>
                                        <p>Win glory by participating in Crucible matches.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_call_to_arms.jpg" alt="">
                                    </div><div class="iv_section"><h1>Flashpoint: Titan</h1>
                                        <p>Complete public events on Titan.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/patrol_titan.jpg" alt="">
                                    </div><div class="iv_section"><h1>Xûr</h1>
                                        <p>View his wares before he disappears again...</p>
                                        <div></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_xur.jpg" alt="">
                                    </div><div class="iv_section"><h1>Ikora's Challenge</h1>
                                        <p>Complete 5 challenges.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_daily_challenges.jpg" alt="">
                                    </div><div class="iv_section"><h1>Nightfall</h1>
                                        <p>Complete the weekly Nightfall Strike.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Nightfall: Savathûn's Song</b>
                                    </p>
                                    <p>Delve deep into the Hive-infested Arcology in search of missing fireteams.</p>
                                                <ul><li>
                                                                <b>Unbroken: </b>Complete the Nightfall with fewer than 3 deaths.
                                                            </li><li>
                                                                <b>The Best Defense: </b>Shoot down 15 of its projectiles before defeating Savathûn's Song.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/strike_savanthuns_song.jpg" alt="">
                                    </div><div class="iv_section"><h1>Meditations</h1>
                                        <p>Consult with Ikora Rey, and meditate on your recent experiences.</p>
                                        <div><p>
                                                
                                                
                                                <p>
                                        <b>Unbroken</b>
                                    </p>
                                    <p>Find Thumos the Unbroken and take the key codes he carries—by any means necessary.</p>
                                                
                                            </p><p>
                                                
                                                
                                                <p>
                                        <b>Larceny</b>
                                    </p>
                                    <p>Break into the Red Legion base and steal the personal shuttle of Thumos the no-longer-Unbroken.</p>
                                                
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_meditations.jpg" alt="">
                                    </div><div class="iv_section"><h1>Trials of the Nine</h1>
                                        <p>Behold.  Judgment.</p>
                                        <div><p>
                                                
                                                <p>Win a Trials of the Nine match.</p>
                                                <p>
                                        <b>Eternity</b>
                                    </p>
                                    <p>Unknown Space</p>
                                                <ul><li>
                                                                <b>Tribute: </b>As a fireteam, defeat 150 opponents.
                                                            </li><li>
                                                                <b>Fulfillment: </b>Win 20 rounds.
                                                            </li><li>
                                                                <b>Judgment: </b>Win 5 matches.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/crucible_glaive.jpg" alt="">
                                    </div><div class="iv_section"><h1>Clan XP</h1>
                                        <p>Earn Clan XP in strikes, raids, the Crucible, or world activities.</p>
                                        <div><p>
                                                
                                                
                                                
                                                
                                            </p></div>
                                        
                                    </div><div class="iv_section"><h1>Leviathan Raid</h1>
                                        <p>Complete the Raid weekly for awesome loot and bragging rights.</p>
                                        <div><p>
                                                <h2>Leviathan</h2>
                                                <p>Complete any raid or raid lair.</p>
                                                <p>
                                        <b>Leviathan</b>
                                    </p>
                                    <p>"Grow fat from strength."</p>
                                                <ul><li>
                                                                <b>The Proving: </b>Complete every trial Calus has set before you.
                                                            </li><li>
                                                                <b>The Labyrinth: </b>Loot 3 of Calus's gifts in the underbelly of the Leviathan.
                                                            </li><li>
                                                                <b>The Throne: </b>Discover the hidden victory condition in the Throne encounter.
                                                            </li></ul>
                                            </p></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/raid_gluttony.jpg" alt="">
                                    </div><div class="iv_section"><h1>Weekly Clan Objectives</h1>
                                        <p>Participate in activities with your clan to win sweet, sweet loot together.</p>
                                        <div></div>
                                        <img src="https://www.bungie.net/img/destiny_content/pgcr/conceptual_weekly_clan_challenges.jpg" alt="">
                                    </div></div>
            </body>
            </html>