* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --us-black: rgb(61, 61, 61);
    --us-bg-gray: rgb(207, 207, 207);
    --us-bg-blue: #5e68f5;
}


/* typical styles */

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.heading {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}


/* -------------- */

a {
    text-decoration: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
}

a:visited>h1 {
    color: #fff;
}

li {
    list-style: none;
}

h1,
h2 {
    font-size: 1em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

body {
    background: var(--us-bg-gray);
}

.appWrapper {
    width: 100%;
}

.appContent {
    padding: 10px 0px 5px;
    font-size: 1em;
    width: 50%;
    min-width: 420px;
    margin: 60px auto;

}
.appContent.mobile {
    width: 100%;
    min-width: 100%;
}
.contentList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.appContent h2 {
    text-align: center;
}

div {
    position: relative;
}

.appHeader {
    position: fixed;
    background: var(--us-black);
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
}

.appHeaderSearch {
    max-width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.appHeaderSearchInput,
.appHeaderSearchButton {
    padding: 3px 7px;
    border-radius: 2px;
    border: none;
    min-width: 100px;
    margin-bottom: 7px;
}

.appHeaderSearchButton {
    background: var(--us-bg-blue);
    color: #fff;
    font-weight: 600;
    min-width: 70px;
}

.homeViewWrpper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.appHeaderContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.appHeaderContainer.alignCenter {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.hasExpandableMenu {
    cursor: pointer;
}

.hasExpandableMenu:hover {
    color: #fff;
}

.hasExpandableMenu>ul {
    margin-left: 20px;
}

.profileListLine {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.profileListLine ul,
.listHead {
    border-bottom: 1px solid var(--us-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.listHead {
    border: none;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profileListLine:hover {
    color: #fff;
    cursor: pointer;
}

.profileListLine li,
.listHead li {
    display: inline-block;
    width: 120px;
    text-align: left;
}

.profileListLine li:last-child,
.listHead li:last-child {
    width: 100px;
    text-align: right;
}

.profileListLine li:first-child,
.listHead li:first-child {
    text-align: left;
    width: 35px;
    margin-bottom: 5px;
}

a.clanNodesNavItems:visited {
    color: var(--us-black);
}

a.clanNodesNavItems:hover {
    color: #fff;
}

.sortorder:after {
    content: '\25b2';
    color: var(--us-black);
}

.sortorder.reverse:after {
    content: '\25bc';
    color: var(--us-black);
}

.sortorder: hover {
    color: #fff;
}

.sortButton {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.onLoadMessage {
    font-size: 1.5em;
    width: 70%;
    font-weight: 600;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    color: var(--us-black);
}
.toTopButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--us-bg-blue);
    opacity: 0.7;
    color: #fff;
    padding: 5px 10px;
    font-size: 1em;
    z-index: 1;
    cursor: pointer;
}