<h2 class="mb20 mt20 heading">
    Навигация
</h2>
<ul class="contentList" role="menu">
    <li expandable-menu class="hasExpandableMenu" role="menuitem">
        > Списки составов ...
        <ul class="expandableSubMenu hide" role="list">
            <li class="mt5" ng-repeat="clan in clans" role="listitem">
                <a ui-sref="clanStatistic({clanNumber: $index + 1})" class="clanNodesNavItems">
                    KOCMOC HAIII {{::$index+1}}
                </a>
            </li>
        </ul>
    </li>
    <li role="menuitem" class="mt20">
        <a ui-sref="weeklyActivities" class="clanNodesNavItems">
            > Текущие активности
        </a>
    </li>
    <li expandable-menu role="menuitem" class="hasExpandableMenu disabled mt20">
        > Вендоры
        <ul class="expandableSubMenu hide" role="list">
            <li class="mt5" role="listitem">
                <a ui-sref="vendors({vendorName: 'Eververse'})" class="clanNodesNavItems">
                    Eververse
                </a>
            </li>
            <li class="mt5" role="listitem">
                <a ui-sref="vendors({vendorName: 'Xur'})" class="clanNodesNavItems">
                    Xur
                </a>
            </li>
        </ul>
    </li>
    <li role="menuitem" class="mt20 disabled">
        <a ui-sref="weeklyLegends" class="clanNodesNavItems">
            > Легенды недели
        </a>
    </li>
</ul>