<su-header header-config="settings.header"></su-header>
<div ng-class="appContent">
    <h2 class="mb20 heading">
        Недельные рубежи
    </h2>
    <div class="milestoneContent">
        <ul>
            <li ng-repeat="item in milestones" class="hasExpandableMenu mb20">
                <h4>
                    {{item.title}}
                </h4>
                <p>
                    {{item.about}}  
                </p>
                <p>
                    <ul>
                        <li ng-repeat="quest in item.modification">
                            <p>
                                {{quest.title}}
                            </p>
                            <p ng-repeat="mod in quest.mods">
                                <b>{{mod.title}}:</b> {{mod.description}}
                            </p>
                        </li>
                    </ul>
                </p>
            </li>
        </ul>
    </div>
</div> 