<su-header header-config="settings.header"></su-header>
<su-scroll-to-top-button></su-scroll-to-top-button>
<div class="appContent">
    <h2 class="mb20 heading">
        Недельные рубежи
    </h2>
    <su-spinner is-active-spinner="isSpinnerActive"></su-spinner>
    <div class="milestoneContent">
        <ul>
            <li ng-repeat="item in milestones" class="hasExpandableMenu mb30">
                <h3>
                    {{item.title}}
                </h3>
                <p>
                    {{item.about}}
                </p>
                <p>
                    <ul>
                        <li ng-repeat="quest in item.quests" ng-class='{mt5 : !!item.quests.length}'>
                            <h4>{{quest.title}}</h4>
                            <p>{{quest.about}}</p>
                            <p ng-class='{ mt5 : quest.activity.lengt}'>
                                <b>{{quest.activity.title}}</b>
                            </p>
                            <p>{{quest.activity.about}}</p>
                            <ul ng-class='{ mt5 : quest.challenges.length}'>
                                <li ng-repeat="challenge in quest.challenges track by $index" class="mt5">
                                    <b>{{challenge.title}}: </b>{{challenge.about}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <img ng-class="{'milestoneImg mt15' : item.img}" ng-src="https://www.bungie.net{{item.img}}" alt="">
            </li>
        </ul>
    </div>
</div>